<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Create your Resume</h1>
    <p class="lead">
      <div class="btn btn-info">
        <%= link_to "resume",resumes_path , :class => "btn" %>
      </div>
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Create your Business</h1>
    <p class="lead">
      <div class="btn btn-info">
        <%= link_to "Business",businesses_path , :class => "btn" %>
      </div>
    </p>
  </div>
</div>