/*
 *= require font-awesome
 */

@import "bootstrap";
@import "font-awesome.css";

body{
    background: rgb(255, 255, 255);  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}








