<div class="container-fluid">
  <div class="row">
    <aside class="col-2 px-0 " id="left">
      <div class="list-group w-100">
        <li class=nav-item><%=  link_to "Home", root_path, class: "active"%></li>
        <li class=list-group-item><%= link_to "Profile ",resume_resumeusers_path(@resume),class: "active" %>
        </li>
      </div>
    </aside>
  </div>
</div>